<!PE DOCTY html>
<html>
        <head>
                <title>Osa Gaius</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
                <%= stylesheet_link_tag    "styles", media: "all", "data-turbolinks-track" => true %>
        </head>

        <body>

                <div class="site-wrapper">

                        <div class="site-wrapper-inner">

                                <div class="cover-container">

                                        <div class="masthead clearfix">
                                                <div class="inner">
                                                        <h1 class="masthead-brand">Osa Gaius</h1>
                                                        <ul class="nav masthead-nav">
                                                                <li class="active"><a href="#">Home</a></li>
                                                                <li><a href="#">About</a></li>
                                                                <li><a href="#">Contact</a></li>
                                                        </ul>
                                                </div>
                                        </div>

                                        <div class="inner cover">
                                                <h2 class="cover-heading">Hey there!</h2>
                                                <p class="lead">I'm Osa Gaius. I love to write.</p>
                                                <p class="lead">
                                                        <a href="#" class="btn btn-lg btn-default">Learn more</a>
                                                </p>
                                        </div>

                                        <div class="mastfoot">
                                                <div class="inner">
                                                <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>



                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="../../dist/js/bootstrap.min.js"></script>
                <script src="../../assets/js/docs.min.js"></script>
                <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
                <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
                        
        </body>
</html>